{% extends 'auctions/layout.html' %}

{% block title %}Login{% endblock  %}

{% block body %}
<div class="m-4">
<h1>Login</h1><br>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text ">Username</span>
            <input type="text" class="form-control" aria-label="username" name="username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text ">Password</span>
            <input type="password" class="form-control" aria-label="password" name="password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form><br>
    <h5>Don't have an account? <a href="{% url 'register' %}"> Register here! </a> </h5>
</div>
{% endblock  %}